* text eol=lf
*.svg text
# (binary is a macro for -text -diff)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.zip binary
*.ttf binary
*.eot binary
*.otf binary
*.woff binary
*.woff2 binary